dam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/dam" xmlns:tns="http://www.example.org/dam"
	elementFormDefault="qualified">

	<xs:complexType name="DamType">
		<xs:sequence>

			<xs:element name="source" type="xs:string" />
			<xs:element name="nearestCity" type="xs:string" />
			<xs:element name="location" type="xs:string" />
			<xs:element name="typeOfwall" type="WallType" />
			<xs:element name="fauna" type="faunaType" />
            <xs:element name="capacity" type="xs:decimal"/>
            <xs:element name="surface" type="xs:decimal"/>
            <xs:element name="altitude" type="xs:decimal"/>
            
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="lenght" type="xs:positiveInteger" />
		<xs:attribute name="depth" type="xs:positiveInteger" />
		<xs:attribute name="width" type="xs:positiveInteger" />
		<xs:attribute name="seaLevel" type="xs:int" />
		<xs:attribute name="area" type="xs:positiveInteger" />
		<xs:attribute name="waterVolume" type="xs:positiveInteger" />
		<xs:attribute name="yearBuildStarted" type="xs:gYear" />
		<xs:attribute name="yearBuildFinished" type="xs:gYear" />
	</xs:complexType>

	<xs:complexType name="WallType">
		<xs:attribute name="groundBase" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="faunaType">
		<xs:sequence maxOccurs="unbounded" minOccurs="0">
			<xs:element name="fish" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Dam" type="DamType"/>
</xs:schema>